<div class="d-flex sm:block justify-content-around mt-4">
  <div
    class="shadow-lg max-w-5xl mb-4 bg-white rounded-lg lg:rounded-lg mx-0 lg:mx-2 my-0 lg:my-2 p-5"
  >
    <h1 class="text-2xl font-medium mb-2">
      सम्पर्क
    </h1>
    <h2
      class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide"
    >
      पोखरा, साउन १२
    </h2>
    <ul>
      <li>सेतोपाटी संचार प्रा.लि</li>
      <li>सूचना विभाग दर्ता नंः १४१७/०७६-२०७७</li>
      <li>Setopati Sanchar Pvt. Ltd.</li>
      <li>Jhamsikhel Lalitpur, Nepal</li>
      <li>
        Email: info@setopati.com
      </li>
      <li>setopati@gmail.com</li>
      <li>Phone: +977-1-5529319 +977-1-5528194</li>
      <li>Web: www.setopati.com</li>
      <li>विज्ञापनका लागि</li>
      <li>
        015544598, 9801123339, 9851123339
      </li>
    </ul>
  </div>
  <div
    class="shadow-lg max-w-5xl mb-4 bg-white rounded-lg lg:rounded-lg mx-0 lg:mx-2 my-0 lg:my-2 p-5"
  >
    <h1 class="text-2xl font-medium mb-2">
      सम्पर्क
    </h1>
    <h2
      class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide"
    >
      पोखरा, साउन १२
    </h2>
    <ul>
      <li>सेतोपाटी संचार प्रा.लि</li>
      <li>सूचना विभाग दर्ता नंः १४१७/०७६-२०७७</li>
      <li>Setopati Sanchar Pvt. Ltd.</li>
      <li>Jhamsikhel Lalitpur, Nepal</li>
      <li>
        Email: info@setopati.com
      </li>
      <li>setopati@gmail.com</li>
      <li>Phone: +977-1-5529319 +977-1-5528194</li>
      <li>Web: www.setopati.com</li>
      <li>विज्ञापनका लागि</li>
      <li>
        015544598, 9801123339, 9851123339
      </li>
    </ul>
  </div>
  <div
    class="shadow-lg max-w-5xl mb-4 bg-green rounded-lg lg:rounded-lg mx-0 lg:mx-2 my-0 lg:my-2 p-5"
  >
    <h1 class="text-2xl font-medium mb-2">
      सम्पर्क
    </h1>
    <h2
      class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide"
    >
      पोखरा, साउन १२
    </h2>
    <ul>
      <li>सेतोपाटी संचार प्रा.लि</li>
      <li>सूचना विभाग दर्ता नंः १४१७/०७६-२०७७</li>
      <li>Setopati Sanchar Pvt. Ltd.</li>
      <li>Jhamsikhel Lalitpur, Nepal</li>
      <li>
        Email: info@setopati.com
      </li>
      <li>setopati@gmail.com</li>
      <li>Phone: +977-1-5529319 +977-1-5528194</li>
      <li>Web: www.setopati.com</li>
      <li>विज्ञापनका लागि</li>
      <li>
        015544598, 9801123339, 9851123339
      </li>
    </ul>
  </div>
</div>
