<section class="home-newsletter d-flex justify-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="single">
          <h2>Subscribe to our Newsletter</h2>
          <div class="input-group">
            <div class="col-md-12 d-flex justify-center">
              <button
                class="btn-info btn-block btn-lg"
                data-toggle="modal"
                data-target="#inquiryModal"
              >
                Subscribe
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">
          Subscribe To Our Newsletter
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'subscribe' %}" method="POST">
          {% csrf_token %} {% if user.is_authenticated %}
          <input
            type="hidden"
            name="user_id"
            id="user_id"
            value="{{ user.id }}"
          />
          {% else %}
          <input type="hidden" name="user_id" id="user_id" value="0" />
          {% endif %}
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              {%
              if
              user.is_authenticated
              %}
              value="{{ user.first_name }} {{ user.last_name }}"
              {%
              endif
              %}
              required
            />
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              {%
              if
              user.is_authenticated
              %}
              value="{{ user.email }}"
              {%
              endif
              %}
              required
            />
          </div>
          <hr />
          <input
            type="submit"
            value="Subscribe"
            class="btn btn-block btn-info"
          />
        </form>
      </div>
    </div>
  </div>
</div>
