{% load static %}
<header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                               <a href="#"> <h1 class="d-none d-lg-block">The Web News Nepal</h1></a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Login -->
                                <div class="login d-flex ">
                                    <a href="#">Login</a>
                                    <a href="#">Register</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">Politics</a></li>
                                    <li><a href="#">Literature</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Covid-19</a></li>
                                    <li><a href="#">Health</a></li>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">entertainment</a></li>
                                    <li><a href="#">lifestyle</a></li>
                                    <li><a href="#">blogs</a></li>
                                    <li><a href="#">New Post</a>
                                       
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>