{% load static %}
<header class="header-area">
  <!-- Top Header Area -->
  <div class="top-header-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="top-header-content d-flex align-items-center justify-content-between"
          >
            <!-- Logo -->
            <div class="logo">
              <a href="{% url 'home' %}">
                <h1 class="d-none d-lg-block">The Web News Nepal</h1></a
              >
            </div>

            <!-- Login Search Area -->
            <div class="login-search-area d-flex align-items-center">
              <!-- Login -->
              <div class="login d-flex">
                <a href="{% url 'login' %}">लग-इन</a>
                <a href="{% url 'register' %}">नयाँ-खाता</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar Area -->
  <div class="newspaper-main-menu" id="stickyMenu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="newspaperNav">
          <!-- Logo -->
          <div class="logo">
            <a href="#"><img src="img/core-img/logo.png" alt="" /></a>
          </div>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"
              ><span></span><span></span><span></span
            ></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- close btn -->
            <div class="classycloseIcon">
              <div class="cross-wrap">
                <span class="top"></span><span class="bottom"></span>
              </div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li class="active">
                  <a href="{% url 'home' %}">गृहपृष्ठ</a>
                </li>
                <li><a href="{% url 'home' %}">समाचार</a></li>
                <li><a href="{% url 'national' %}">देश</a></li>
                <li><a href="{% url 'politics' %}">राजनीति</a></li>
                <li><a href="{% url 'home' %}">विजनेस</a></li>
                <li><a href="{% url 'home' %}">प्रवास</a></li>
                <li><a href="{% url 'sports' %}">खेलकुद</a></li>
                <li><a href="{% url 'international' %}">प्रदेश</a></li>
                <li><a href="{% url 'entertainment' %}">मनोरञ्जन</a></li>
                <li><a href="{% url 'home' %}">शिक्षा</a></li>
                <li><a href="{% url 'home' %}">स्वास्थ्य</a></li>
                <li><a href="{% url 'home' %}">विज्ञान/प्रविधि </a></li>
                <li><a href="{% url 'home' %}">बिचार</a></li>
                <li><a href="{% url 'covid' %}">Covid-19</a></li>
                <li><a href="{% url 'post-create' %}">नयाँ-पोस्ट</a></li>
                <li><a href="{% url 'home' %}">contact-us</a></li>
              </ul>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
