{% extends 'base.html'%}
<!--  -->
{% load embed_video_tags %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} | Latest News
<!--  -->
{% endblock%}
<!--  -->
{% block content%}

<section id="showcase-inner " class="py-1   text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Latest National News</h1>
        <hr>
      </div>
    </div>
  </div>
</section>


<section id="bc" class="mt-1">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-dark">
        <li class="breadcrumb-item">
          <a href="{% url 'home'%}">Home</a>
        </li>
        <li class="breadcrumb-item active text-black">National</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Single Post -->

{% if nationals %} 
<!--  -->
{% for post in nationals %}
<div class="container">
<section id="nationals" class="py-4 d-flex">
  <div class="col-12 col-lg-4">
    <div class="single-blog-post">
      <div class="post-thumb">
        <a href="#"><img src="{{post.photo_0.url}}" alt="" /></a>
      </div>
      <div class="post-data">
        <a href="#" class="post-title">
          <h6>
            {{post.title}}
          </h6>
        </a>
        <div class="post-meta">
          <div class="post-date"><a href="#">{{post.address_month_day}}</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if nationals.has_other_pages %}
      <ul class="pagination">
        {% if nationals.has_previous %}
        <li class="page-item">
          <a href="?page={{nationals.previous_page_number}}" class="page-link"
            >&laquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&laquo;</a>
        </li>
        {% endif %}
        <!--  -->
        {% for i in nationals.paginator.page_range %} 
        <!--  -->
        {% if nationals.number == i %}
        <!--  -->
        <li class="page-item active">
          <a class="page-link">{{i}}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a href="?page={{i}}" class="page-link">{{i}}</a>
        </li>
        {% endif %} 
        <!--  -->
        {% endfor %}
        <!--  -->
         {% if nationals.has_next %}
        <li class="page-item">
          <a href="?page={{nationals.next_page_number}}" class="page-link"
            >&raquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</section>
</div>

{% endfor %}
<!--  -->
{% else %}
<div class="container">
  <div class="col-md-12">
    <h3>No nationals Available</h3>
  </div>
</div>
{% endif %}
</div>
{% endblock%} 








