{% extends "base.html" %}
<!--  -->
{% block content %} {% for post in posts %}

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" />
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'post-detail' post.id %}">{{ post.title }}</a
      >
      <p class="article-content">{{ post.address_month_day }}</p>
    </div>
    <h2>
      <a class="article-title" href="{% url 'post-detail' post.id %}"
        >{{ post.text }}</a
      >
    </h2>
  </div>
</article>

{% endfor %}
<!--  -->
{% endblock content %}