{% extends 'base.html'%}
<!--  -->
{% load embed_video_tags %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} | Latest News
<!--  -->
{% endblock%}
<!--  -->
{% block content%}
<section id="bc" class="mt-1">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-dark">
        <li class="breadcrumb-item">
          <a href="{% url 'home'%}">Home</a>
        </li>
        <li class="breadcrumb-item active text-black">Sports</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Single Post -->

<!-- ##### Editorial Post Area Start ##### -->
<div class="editors-pick-post-area section-padding-80-50">
  <div class="container">
    <div class="row">
      <!-- Editors Pick -->
      <div class="col-12 col-md-12 col-lg-12">
        <div class="section-heading">
          <h6>Latest Sports News</h6>
        </div>

        <div class="row">
          <!-- Single Post -->
          {% if sports %} {% for post in sports %}
          <div class="col-12 col-lg-4">
            <div class="single-blog-post">
              <div class="post-thumb">
                <a href="{% url 'post-detail'  post.id  %}"
                  ><img src="{% static 'img/bg-img/6.jpg' %}" alt=""
                /></a>
              </div>
              <div class="post-data">
                <a href="{% url 'post-detail' post.id  %}" class="post-title">
                  <h6>
                    Orci varius natoque penatibus et magnis dis parturient
                    montes.
                  </h6>
                </a>
                <div class="post-meta">
                  <div class="post-date">
                    <a href="{% url 'post-detail' post.id %}"
                      >February 11, 2018</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
          <!--  -->
          {% endif %}
          <!--  -->
        </div>
        {% if is_paginated %}
        <!--  -->
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a
          class="btn btn-outline-info mb-4"
          href="?page={{ page_obj.previous_page_number }}"
          >Previous</a
        >
        {% endif %}
        <!--  -->
        {% for num in page_obj.paginator.page_range %}
        <!--  -->
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}"
          >{{ num }}</a
        >
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <a
          class="btn btn-outline-info mb-4"
          href="?page={{ page_obj.next_page_number }}"
          >Next</a
        >
        <a
          class="btn btn-outline-info mb-4"
          href="?page={{ page_obj.paginator.num_pages }}"
          >Last</a
        >
        {% endif %} {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
<!-- ##### Editorial Post Area End ##### -->
