{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="md:flex px-6 lg:flex  m-auto justify-center items-center rounded-lg p-6 border-2 bg-green-800">
    <img class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6" src="{{ user.profile.image.url }}">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4"> Your Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info border bg-indigo-500 p-2 m-1" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock content %}

