{% extends 'base.html' %}
<!--  -->
{% load crispy_forms_tags %}

<!--  -->
{% block title %} | User Profile
<!--  -->
{% endblock %}
<!--  -->

{% block content %}
<!-- Breadcrumb -->
<div class="col-md-6 mx-auto">
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}"> <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div>
  </section>
  <div class="container">
    <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--  -->
        {{ form|crispy }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
            {{user.first_name}}'s Profile Info
          </legend>
          <div class="media">
            <img
              class="rounded-circle account-img"
              src="{{ user.profile.image.url }}"
            />
          </div>
          {{ u_form|crispy }} {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
